.word-box{
    display: flex;
    justify-content: center;
  
  }

  .count p{
   padding: 5px 10px;
    display: inline-block;
    margin: 10px 10px;
    border: 1px solid #ccc;
  }
  
  
  .word-inner-box{
    width: 50%;
  }
  
  .word-inner-box textarea{
    font-size: 20px !important;
    height: 150px;
    width: 100%;
  }

  .case-btn button{
    padding: 5px 15px ;
    margin: 10px;
  }

  .text-preview{
    text-align: left;
    border: 1px solid #ccc;
    padding: 20px;
    margin: 20px 0px 0px;
    box-sizing: border-box;
  }

  .text-preview h2{
    font-size: 16px;
    margin: 0px;
    padding: 0px 5px;
  }

  .text-preview p{
    margin: 0px;
    padding: 5px 0px;
  }

  .wide-text{
    letter-spacing: 15px;
  }

  .aesthetic-text {
    /* Define your aesthetic font style here */
    /* Example styles: */
    font-family: 'YourAestheticFont', cursive; /* Replace 'YourAestheticFont' with your chosen font */
    /* Add any additional styling you need */
  }

  .flipped-text {
    transform: scaleY(-1);
  }

  .bold-text{
    font-weight: bold;
  }

  .italic-text{
    font-style: italic;
  }

  .underline-text{
    text-decoration: underline;
  }
  